h6{
  text-decoration: underline;
  font-weight: 900;
  color: crimson;
}

h5{
  font-weight: 900;
}

.d3Mal{
  height: 500px;
  width: 500px;
  align-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.gamePlay{
  height: 500px;
  width: 700px;
  align-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wDoctor{
  height: 500px;
  width: 700px;
  align-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.barb{
  height: 500px;
  width: 700px;
  align-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wiz{
  height: 500px;
  width: 700px;
  align-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.monks{
  height: 500px;
  width: 700px;
  align-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.dem{
  height: 500px;
  width: 700px;
  align-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.sader{
  height: 500px;
  width: 700px;
  align-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.mancer{
  height: 500px;
  width: 700px;
  align-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.tram{
  height: 500px;
  width: 700px;
  align-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}