.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body {
  background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(10,163,161,1) 50%, rgba(1,34,31,1) 100%);
}


span {
  font-weight: bolder;
  color: #0bdbab;
  text-decoration: underline;
}

.card text-white bg-secondary {
  display: block;
  align-items: center;
}

.form-control {
  display: block;
  text-align: center;
  margin-left: auto;

  margin-right: auto;
}

#cCard{
  display: inline-block;
  font-size: larger;
}

