.card text-white bg-dark {
  display: block;
}

span{
  text-decoration: underline;
}

#root > div > div.CharacterBuild > div > div.card-body > a{
  display: block;
}

#cCard{
  display: inline-block;
  font-size: larger;
}

#root > div > div.CharacterBuild > div > div.card-body > a{
  display: block;
  justify-items: center;
  margin-left: auto;
  margin-right: auto;
}

.form-control {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
