#linkCard{
  display: inline-block;
  font-size: larger;
}

.card-text{
  text-align: center;
}

.offdia{
  height: 125px;
  width: 150px;
  align-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.icyveins{
  height: 125px;
  width: 100px;
  align-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.gameguide{
  height: 125px;
  width: 150px;
  align-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.diaforum{
  height: 125px;
  width: 150px;
  align-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.serverstatus{
  height: 125px;
  width: 150px;
  align-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.diablo1{
  height: 125px;
  width: 150px;
  align-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.whimsyshire{
  height: 125px;
  width: 150px;
  align-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.cowlevel{
  height: 125px;
  width: 150px;
  align-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.petlist{
  height: 125px;
  width: 125px;
  align-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pennetlist{
  height: 125px;
  width: 125px;
  align-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wingslist{
  height: 125px;
  width: 125px;
  align-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.d4{
  height: 125px;
  width: 175px;
  align-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.goblin{
  height: 125px;
  width: 175px;
  align-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.seasons{
  height: 125px;
  width: 125px;
  align-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.leggems{
  height: 125px;
  width: 125px;
  align-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.setdungeon{
  height: 125px;
  width: 150px;
  align-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.tristram{
  height: 125px;
  width: 150px;
  align-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hires{
  height: 125px;
  width: 150px;
  align-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.weapons{
  height: 125px;
  width: 150px;
  align-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.transmog{
  height: 125px;
  width: 150px;
  align-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.rifts{
  height: 125px;
  width: 150px;
  align-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.vault{
  height: 125px;
  width: 150px;
  align-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.cube{
  height: 125px;
  width: 150px;
  align-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.barbarian{
  height: 125px;
  width: 125px;
  align-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.crusader{
  height: 125px;
  width: 125px;
  align-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.demonhunter{
  height: 125px;
  width: 125px;
  align-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.monk{
  height: 125px;
  width: 125px;
  align-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.necro{
  height: 125px;
  width: 125px;
  align-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.witchdr{
  height: 125px;
  width: 125px;
  align-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wizard{
  height: 125px;
  width: 125px;
  align-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.discord{
  height: 125px;
  width: 125px;
  align-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}