#linkCard{
  
  display: inline-block;
  font-size: larger;
}

.card-text{
  text-align: center;
}

.offdia{
  height: 100px;
  width: 150px;
  align-content: center;
  display: block;
  justify-items: center;
  margin-left: auto;
  margin-right: auto;
}

.icyveins{
  height: 100px;
  width: 100px;
  align-content: center;
  display: block;
  justify-items: center;
  margin-left: auto;
  margin-right: auto;
}