* {
  margin: 5px;
  font-family: 'Kosugi Maru', sans-serif;
}

body{
  background-image: url(../images/Seamless-Black-Pattern-For-Download.jpg)
}

a {
  color: crimson;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: crimson;
}

a:visited {
  color: crimson;
}

