#root > div > div:nth-child(3) > div > div > a{
  display: block;
  justify-items: center;
  margin-left: auto;
  margin-right: auto;
}

#root > div > div:nth-child(3){
  display: block;
  justify-items: center;
  margin-left: auto;
  margin-right: auto;
}