#root > div > div.CharacterBuild > nav{
  background-color: #292b2c;
}

#navbarColor01 > form > input{
  background-color: crimson;
  color: white;
}

.nav-link{
  color: crimson;
}

#navbarColor01 > ul > li > a{
  color: crimson;
}

#loggedin{
  color: crimson;
}

.theD3{
  height: 50px;
  width: 50px;
}

.portal{
  height: 50px;
  width: 50px;
}

.dLogo{
  height: 50px;
  width: 50px;
}

.tyr{
  height: 50px;
  width: 50px;
}

.barLogo{
  height: 50px;
  width: 50px;
}

.dhLogo{
  height: 50px;
  width: 50px;
}

.monkLogo{
  height: 50px;
  width: 50px;
}